#Caption{
    text-transform: uppercase;
    font-family: sans-serif;
      font-size: larger;
      font-weight: bold;
      font-size-adjust: 0.7;
      letter-spacing: 5px;
      border: 1px solid black;
      background-color:inherit;
  
}
body{
    background-color: 	rgb(255,255,255);
}
tr{
    font-family: sans-serif;
}
tr:nth-child(odd) {background-color: #f2f2f2}

td.bold{
    font-weight: bold;
    font-size-adjust: 0.7;
    border-right: 1px solid black;
}

#Header{
    background-color: rgb(255,0,0);
    color:  rgb(255,255,255);
    font-weight: bold;
    
    
    
}
p{
    font-family: sans-serif;
    font-size-adjust: 0.65;
}
#tc{
    border-collapse: collapse;
    border: 1px solid black;
}