
.colorbox{
    display:flex;
        flex-direction: column;
            align-items: center;
          justify-content: center ;
    width:300px;
    height:100px;
      border-top: 2px solid black;
        border-bottom: 1px solid black;
    
}
.kuva{
     line-height: 0;
    border:4px solid rgb(192,192,255);
     padding:0px;
     padding-bottom: 0px;
   
}

.motherdiv{
        
         display: flex;
        align-items: center;
          justify-content: center ;
         flex-direction: column;
       
}

.blueberry{
    background-color: rgb(192,192,255);
}

.cloudberry{
    background-color: rgb(255,230,230);
        border-top: 0px solid black;
        border-bottom: 0px solid black;
    
}

.lingonberry{
    background-color: rgb(255,192,192);
}

.title{
    font-size-adjust:0.9;
       padding:5px;
    padding-bottom: 2px;

    margin-bottom: 2px;
}

.description{
    font-size-adjust:0.5;
       padding:5px;
    padding-top: 2px;
    font-style: italic;
    margin-top: 2px;
}

figcaption{
    font-size-adjust:0.5;
       padding:5px;
    padding-top: 0px;
    font-weight:bold;
    margin-top: 0px;
}

p{
    font-family: sans-serif;
}

.one{
     font-size-adjust:5;
    
}
body{
    background-color: rgb(255,255,255);
}