legend, label{
    color:rgb(244,100,100);
    font-size: 1em;
    font-family: sans-serif;
    

}

legend{
    font-weight: bold;
}

.mdiv{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

input[type="submit"]{
  color:rgb(244,100,100);
    
}

input[type="text"],[type="email"],[type="textarea"]{
      color:rgb(244,100,100);
}

input[type="number"]{
      color:rgb(100,100,244);
}