body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(255,0,0);
}

 h1,h2 {
    color: blue;
    font-weight: bold;
}

h1 {
    font-size: 4.0em;
}

ul, ol {
    font-size: 0.8em;
     border-style: groove;
    color:rgb(169,169,169);
}

p,ul,ol{
    margin-left: 5em;
}

figcaption{
    font-size: 0.5em;
    font-weight: bold;
}
.copyright_notice {
    font-size: 0.8em;
}
.example {
    font-size: 0.8em;
    font-style: italic;
}
#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}
p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}